header {
  margin-bottom: 1rem;
}

.form-control::-webkit-input-placeholder { color: #EEE; }
.form-control::-moz-placeholder { color: #EEE; }
.form-control:-ms-input-placeholder { color: #EEE; }
.form-control:-moz-placeholder { color: #EEE; }

// Spinner /
.loader-wrapper {
  overflow: hidden;
  position: fixed;
  top: 10px;
  z-index: 90;
  width: 100%;
  text-align: center;
  display: none;

  .loader-box {
    width: 40px;
    height: 40px;
    overflow: hidden;
    margin: 0 auto;

    .loader,
    .loader:after {
      border-radius: 50%;
      width: 10em;
      height: 10em;
    }

    .loader {
      margin: 0;
      font-size: 3.5px;
      position: relative;
      text-indent: -9999em;
      border-top: 1.1em solid rgba(155,155,155, 0.2);
      border-right: 1.1em solid rgba(155,155,155, 0.2);
      border-bottom: 1.1em solid rgba(155,155,155, 0.2);
      border-left: 1.1em solid #999;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-animation: load8 1.1s infinite linear;
      animation: load8 1.1s infinite linear;
    }

    @-webkit-keyframes load8 {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }

    @keyframes load8 {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
  } // loader-box /
} // loader-wrapper /


.mg-console {
  margin: 30px 150px;
}

.player {
  margin: 50px 50px;
}


#background-video {
  width: 100%;
  z-index: -100;
  overflow: hidden;
  margin-top: -34em;
}
  
  

  body {
    background-color: black;
  }

  .navbar {
    background-color: black;
   
  }

  .navbar-light .navbar-brand, .navbar-light .navbar-toggler {
    color: #9ce0a4;
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(232, 166, 166, 0.5);
}

.btn-lg {
  position: relative;
}

.btn-outline-success {
  margin-left: 42%;
}

.jumbotron{
  margin-left: 5%;
  margin-bottom: -36rem;
  background-color: rgba(0, 0, 0, 0.0);
}

.display-3 {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.1;
  color: whitesmoke;
}

p {
  color: whitesmoke;
}

.nav-item span {
  color: #9ce0a4;
}

#definition {
  text-align: center;
}

  a #start {
    
    position: absolute;
    margin-left: 43%;
    margin-top: 14%;
    display: flex;
    
   
  }

  // MEDIA QUERY FOR START BUTTON

  @media only screen and (max-width: 890px) {
  .btn-secondary {
      margin-left: 41%;
    }
}

@media only screen and (max-width: 768px) {
.btn-secondary {
    margin-left: 39%;
  }
}

@media only screen and (max-width: 463px) {
.btn-secondary {
    margin-left: 35%;
  }
}

@media only screen and (max-width: 400px) {
.btn-secondary {
    margin-left: 30%;
  }
  .display-3 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.1;
  }
}

#hintBtn {
  margin-left: 20px;
}

#comment {
  color: white;
}

#score {
  color: white;
}